# ===== Common =====
.DS_Store
*.log
*.swp
.history

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ===== Flutter (app/) =====
**/doc/api/
**/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/build/
app/coverage/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
app/android/app/debug
app/android/app/profile
app/android/app/release

# ===== Go (server/) =====
server/bin/
server/*.env
